<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/store.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="path/to/dist/feather.js"></script>
</head>

<body>

<header class="header">
  <a href="" class="logo"><img src="./images/logo.png" alt=""></a>

  <nav class="navbar-1">
    <a href=""  th:href="@{/index}">Trang Chủ</a>
    <a href="" th:href="@{/store}">Cửa Hàng</a>
    <a href="#team">Phản hồi</a>
    <a href="#arrivals">Sản phẩm mới</a>
    <a href="#footer">Liên Lạc</a>
  </nav>

  <div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-shopping-cart"></a>
    <div class="fas fa-user" id="login-btn"></div>
    <div id="search-btn" class="fas fa-search"></div>
  </div>

  <!-- <form action="" class="search-form">
      <input type="search" name="" placeholder="search here ..." id="search-box">
      <label for="search-box" class="fas fa-search"></label>
  </form> -->
</header>

<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="wrap">
          <h4>CÁC DÒNG SẢN PHẨM</h4>
          <ul>
            <li> <a href="">Son</a> </li>
            <li> <a href="">Kem dưỡng</a> </li>
            <li> <a href="">Sữa rửa mặt</a> </li>
            <li> <a href="">Serum </a> </li>
            <li> <a href="">Thực phẩm chức năng</a> </li>
          </ul>
          <h4><small>Khoảng giá</small></h4>
          <div class="aboutprice">
            <input type="text" class="price pricestart" placeholder="From">
            <div class="icon">
              <p>--</p>
            </div>
            <input type="text" class="price priceendt" placeholder="to">
          </div>
          <button>Áp dụng</button>

        </div>
      </div>
      <div class="col-md-9">
        <div class="type">
          <h4>Son <span>(255 sản phẩm)</span> </h4>
        </div>
        <div class="sort">
          <p>Sắp xếp theo:</p>
          <button class="sorttype">Mới nhất</button>
          <button class="sorttype">Bán chạy</button>
          <button class="sorttype">giá thấp đến cao</button>
          <button class="sorttype">giá cao đến thấp</button>
        </div>
        <div class="productlist">
          <div class="row" >
            <div class="col-md-3 col-lg-3" th:each="product : ${productList}">
              <div class="product">
                <a th:href="@{'/store/product/' + ${product.getProductId()}}"><img th:src="${product.getPic()}" alt="product" ></a>
                <p class="cost" th:text="${product.getPrice()}">128000 đ</p>
                <p class="nsx" th:text="${product.getBrand()}">The Litte</p>
                <a class="name" th:text="${product.getName()}" th:href="@{'/store/product/' + ${product.getProductId()}}"></a>
                <br>
                <a th:href="@{'shoppingCart/add/' + ${product.getProductId()}}">Thêm vào giỏ</a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>
</body>

</html>