<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style_admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(./img/logo.png)"></div>
                <h4>22 COSMETIC</h4>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="index_admin.html" class="active">
                            <span class="las la-home"></span>
                            <small>Trang Chủ</small>
                        </a>
                    </li>
                    <li>
                        <a href="product_admin.html" >
                             <span class="las la-shopping-cart"></span>
                             <small>Sản Phẩm</small>
                         </a>
                     </li>
                    <li>
                       <a href="" >
                            <span class="las la-user-alt"></span>
                            <small>Thông Tin</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-envelope-open"></span>
                            <small>Hộp Thư Thoại</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-credit-card"></span>
                            <small>Trả Phí</small>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">
                             <span class="las la-question"></span>
                             <small>Giúp Đỡ</small>
                         </a>
                     </li>
                    <li>
                       <a href="">
                            <span class="las la-cog"></span>
                            <small>Cài Đặt</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class="las la-search"></i></label>
                </div>
                
                <div class="header-menu">
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    
                    <div class="user" id="user">                        
                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
            <form action="" class="login-form">
                <h3>login form</h3>
                <p>Bấm vào đây để <a href="SignIn.html">Đăng Nhập</a> </p>
                <p>Nếu bạn chưa có tài khoản bấm<a href="SignUp.html"> Đăng Ký</a> </p>
            </form>
        </header>
        
        
        <main>
            
            <div class="page-content">
            
                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>107,200</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>User activity this month</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>Page views</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-dollar-sign"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-globe"></span>
                        </div>
                        <div class="card-progress">
                            <small>Members online</small>
                            <div class="card-indicator">
                                <div class="indicator five" style="width: 40%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <button>Add record</button>
                        </div>

                        <div class="browse">
                           <input type="search" placeholder="Search" class="record-search">
                            <select name="" id="">
                                <option value="">Status</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th> PRODUCT CODE</th>
                                    <th><span ></span> NAME PRODUCTS</th>
                                    <th><span ></span> STATUS</th>
                                    <th><span ></span> PRICE</th>
                                    <th><span ></span> CONFIRM</th>
                                    <th><span ></span> FEATURE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${productList}">
                                    <td th:text="${product.getProductId()}"></td>
                                    <td>
                                        <div class="image">
                                            <img src="" th:src="${product.getPic()}" alt="">
                                            <p th:text="${product.getName()}">Sửa rửa mặt làm trắng da</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>Còn hàng</p>
                                    <td>
                                        <div class="price1">
                                            <p th:text="${product.getPrice()}">130.000VNĐ</p>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <div class="actions1">
                                            <input type="checkbox" id="CheckBox" name="CheckBox">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="actions1">
                                            <span class="las la-edit"></span>
                                            <span class="las la-trash"></span>
                                        </div>
                                    </td>
                                    
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>

    <script src="/js/JS_Admin.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>