<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cửa hàng mỹ phẩm</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<a href="" th:href="@{/account/admin_product}">Trở lại</a>
<form action="#" th:action="@{'/admin/updateProduct/' + ${product.getProductId()}}" th:object="${product}" method="post">
    <label for="name">Tên</label>
    <input type="text" th:field="*{name}" id="name" th:text="${product.getName()}">
    <br>
    <label for="amount">Số lượng</label>
    <input type="text" th:field="*{amount}" id="amount" th:text="${product.getAmount()}">
    <br>
    <label for="price">Giá</label>
    <input type="text" th:field="*{price}" id="price"  th:text="${product.getPrice()}">
    <br>
    <label for="brand">Brand</label>
    <input type="text" th:field="*{brand}" id="brand" th:text="${product.getBrand()}">
    <br>
    <label for="supplier">Nhà cung cấp</label>
    <input type="text" th:field="*{supplier}" id="supplier"  th:text="${product.getSupplier()}">
    <br>
    <label for="desc">Thông tin</label>
    <input type="text" th:field="*{desc}" id="desc" th:text="${product.getDesc()}">
    <br>
    <input type="submit" value="sửa">
</form>
</body>
</html>